button {
    padding: 10px 40px; /* Уменьшенный отступ для лучшего размещения */
    margin: 20px auto; /* Центрирование кнопки */
    display: block; /* Убедиться, что блоковый элемент */
    color: #14141F;
    border: none;
    border-radius: 15px;
    font-size: 24px; /* Слегка уменьшенный текст */
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #F9F6FF;

    /* WebKit-оптимизации */
    -webkit-appearance: none;
    -webkit-user-select: none;
    outline: none; /* Убираем подсветку фокуса для браузеров */
}
